usize-app/node_modules/**/*
usize-app/.expo/*
usize-app/.expo-shared/*
usize-app/npm-debug.*
usize-app/*.jks
usize-app/*.p12
usize-app/*.key
usize-app/*.mobileprovision
usize-app/*.orig.*
usize-app/web-build/
usize-app/web-report/
usize-backend/server.log
usize-backend/resources/resnet50_coco_best_v2.0.1.h5
usize-backend/pose/coco/pose_iter_440000.caffemodel
usize-backend/pose/mpi/pose_iter_160000.caffemodel
usize-backend/scripts/__pycache__
usize-backend/face/
usize-backend/hand/
usize-backend/input/
usize-backend/output/