usize-app/*.jks
usize-app/*.key
usize-app/*.mobileprovision
usize-app/*.orig.*
usize-app/*.p12
usize-app/.expo-shared/*
usize-app/.expo/*
usize-app/node_modules/**/*
usize-app/npm-debug.*
usize-app/web-build/
usize-app/web-report/